<script setup lang="ts">
import { reactive, computed } from "vue";
const state = reactive({
  num1: "0",
  num2: "0",
  result: 0,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
function doAdd() {
  state.result = parseInt(state.num1) + parseInt(state.num2);
}
</script>

<template>
  <div class="card">
    <div>
      <input type="text" ref="num1" v-model="state.num1" class="center_text" />
    </div>
    <div style="color: white">+</div>
    <div>
      <input type="text" ref="num2" v-model="state.num2" class="center_text" />
    </div>
    <div><button class="center_text bt" @click="doAdd()">=</button></div>
    <div ref="result" class="center_text" style="color: white">
      {{ state.result }}
    </div>
    <div ref="result" class="center_text" style="color: white">
      {{ state.num1 }} + {{ state.num2 }} = {{ result }}
    </div>
  </div>
</template>

<style>
.center_text {
  text-align: center;
  font-size: 20pt;
  width: 80%;
}
.card {
  background-color: darkblue;
  border-style: solid;
  width: 400px;
  text-align: center;
}
.bt {
  width: 100px;
}
</style>
